name: pip-install

on:
  release:
    types:
      - published

jobs:

  build:
    name: Build distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: '3.11'

      - name: Build
        run: |
          python -m pip install -U pip build twine setuptools setuptools_scm wheel
          python -m build

      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/*

  test:
    name: 'Test py${{ matrix.python }} on ${{ matrix.os }}'
    needs: [build]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-15-intel, macos-26, ubuntu-22.04, ubuntu-24.04]
        python: ['3.9', '3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist

      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: ${{ matrix.python }}
          allow-prereleases: true

      - name: Test the sdist
        run: |
          python -m venv venv-sdist
          venv-sdist/bin/python -m pip install dist/vspace*.tar.gz
          venv-sdist/bin/python -c "import vspace; print(vspace.__version__)"

      - name: Test the wheel
        run: |
          python -m venv venv-wheel
          venv-wheel/bin/python -m pip install dist/vspace*.whl
          venv-wheel/bin/python -c "import vspace; print(vspace.__version__)"

  upload_pypi:
    needs: [build, test]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1
